<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/scripts/cardIcons.js" defer></script>
    <title>Chiikawa Post</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <% if (locals.currentUser) {%>
        <h2>Welcome <%= currentUser.is_admin ? 'admin' : currentUser.is_member ? 'member' : '' %>  <%= currentUser.firstname %>!</h2>
        <a href="/post"><button class="primary-button new-post-button">Make a new post!</button></a>
      <% } else { %>
        <h2>Log in to make a post!</h2>
      <% } %>
      <ul class="post-holder">
        <% if (locals.posts) { %>
          <% posts.forEach((post) => { %>
            <li class="card">
              <div class="card-header">
                <img class="card-icon icon-left" src="">
                <img class="card-main-icon" src='/assets/postImages/<%= post.image_src %>'>
                <img class="card-icon icon-right" src="">
              </div>
              <div class="card-content">
                <h3 class="card-title"><%= post.title %></h3>
                <p><%= post.message %></p>
                  <h4>From: <%= post.firstname ? post.firstname : 'Anonymous mob creature'%> <%= post.lastname %></h4>
                  <h5>Time: <%= post.send_time ? post.send_time : 'ウーラヤハヤハウーラ' %></h5>
                <% if (locals.currentUser && locals.currentUser.is_admin) { %>
                  <form action="/post/delete/<%= post.id %>" method="POST">
                    <button class="delete-btn secondary-button">Delete</button>
                  </form>
                <% } %>
              </div>
            </li>
          <% }) %>
        <% } %>
      </ul>
    </main>
  </body>
</html>
