<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chiikawa Post</title>
  </head>
  <body>
    <h1>yippeee</h1>
    <% if (locals.currentUser) {%>
      <h1>WELCOME BACK <%= currentUser.username %></h1>
      <a href="/log-out">LOG OUT</a>
      <% if (!locals.currentUser.is_member) { %>
        <a href="/member">MEMBERSHIP</a>
      <% } else if (!locals.currentUser.is_admin) { %>
        <a href="/admin">Admin</a>
      <% } %>
      <a href="/post"><button>Make a new post!</button></a>
    <% } else { %>
      <a href="/sign-up">Sign Up</a>
      <a href="/log-in">LOG IN</a>
      <h2>Log in to make a post!</h2>
    <% } %>
    <ul>
      <% if (locals.messages) { %>
        <% messages.forEach((message) => { %>
          <li>
            <h3>Title: <%= message.title %></h3>
            <p>Message: <%= message.message %></p>
            <h4>Author: <%= message.firstname %> <%= message.lastname %></h4>
            <h5>Time: <%= message.send_time %></h5>
          </li>
        <% }) %>
      <% } %>
    </ul>
  </body>
</html>
