<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <h1>yippeee</h1>
    <% if (locals.currentUser) {%>
      <h1>WELCOME BACK <%= currentUser.username %></h1>
      <a href="/log-out">LOG OUT</a>
    <% } else { %>
      <a href="/login">LOG IN</a>
    <% } %>
    <ul>
      <% if (locals.messages) { %>
        <% messages.forEach((message) => { %>
          <li>
            <h3>Title: <%= message.title %></h3>
            <p>Message: <%= message.message %></p>
            <h4>Author ID: <%= message.author_id %></h4>
            <h5><%= message.send_time %></h5>
          </li>
        <% }) %>
      <% } %>
    </ul>
  </body>
</html>
