<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    <script src="/script/index.js" defer></script>
    <title>Chiikawa Post</title>
  </head>
  <body>
    <h1>yippeee</h1>
    <% if (locals.currentUser) {%>
      <h1>WELCOME BACK <%= currentUser.username %></h1>
      <a href="/log-out">LOG OUT</a>
      <% if (!locals.currentUser.is_member) { %>
        <a href="/member">MEMBERSHIP</a>
      <% } else if (!locals.currentUser.is_admin) { %>
        <a href="/admin">Admin</a>
      <% } %>
      <a href="/post"><button>Make a new post!</button></a>
    <% } else { %>
      <a href="/sign-up">Sign Up</a>
      <a href="/log-in">LOG IN</a>
      <h2>Log in to make a post!</h2>
    <% } %>
    <ul>
      <% if (locals.messages) { %>
        <% messages.forEach((message) => { %>
          <li class="card">
            <div class="post-header">
              <img class="post-icon icon-left" src="">
              <img class="post-main-icon" src='/assets/postImages/<%= message.image_src %>'>
              <img class="post-icon icon-right" src="">
            </div>
            <div class="post-data">
              <h3><%= message.title %></h3>
              <p><%= message.message %></p>
              <h4>From: <%= message.firstname %> <%= message.lastname %></h4>
              <h5>Time: <%= message.send_time %></h5>
              <% if (locals.currentUser && locals.currentUser.is_admin) { %>
                <form action="/post/delete/<%= message.id %>" method="POST">
                  <button >Delete</button>
                </form>
              <% } %>
            </div>
          </li>
        <% }) %>
      <% } %>
    </ul>
  </body>
</html>
